:root {
  --colorDarkGreen: #009959;
  --colorGreen: #26AD4F;
  --colorLightGreen: #EAFBEB;
  --colorRed: #DB1838;
  --colorPink: #F73866;
  --colorLightPink: #FFEFF0;
  --colorBlack: #000000;
  --colorDarkGrey: #1F2226;
  --colorGrey: #7C7C7C;
  --colorMidGrey: #EAEAEA;
  --colorLightGrey: #F7F7F7;
  --colorWhite: #FFFFFF;
  --colorYellow: #FFCD1E;
  --colorLightYellow: #FDDF76;
  --colorSand: #FFEEC6;
  --colorTitle: #010810;
  --colorBorderGrey: #CCCCCC;

  --gray-600: #9296A0;
}
